# Compiled source #
###################

*.o


# Directories ignored #
#######################

practica1/problema1_prodcons/obj
practica1/problema1_prodcons/bin
practica1/problema2_fumadores/obj
practica1/problema2_fumadores/bin
